#
#	File Name:	ColumnResource.sample
#	Version:	2.2.0
#
#	Description:
#		ISO-8859-1: דטלעש
#
#	Note:
#
#	Modified	(YYYY/MM/DD)	Ver		Content
#	stghr12		2007/11/30		2.2.0	\uc601\uc5b4\uc9c0\uc6d0
#	stghr12		2007/04/30		2.1.0	version \uad00\ub9ac
#

########################################################################################################################
#
#	[COL.]{columnKey}			{titlePattern}			Y|N	[{columnAttr}]					[{dataPattern}]
#	[COL.]{columnKey}%ATTR		{columnAttr}
#	[COL.]{columnKey}%DATA		{dataPattern}
#	[COL.]{columnKey}%HELP		{helpPattern}
#	GRP.{columnGroupKey}		{titlePattern}			[{columnAttr}]
#	GRP.{columnGroupKey}%COL	{columnKey}				[{titlePattern}]					[{columnAttr}]
#	LNK.{linkKey}				{hrefPattern}												[{titlePattern}]
#	LNK.{linkKey}%TITLE			{titlePattern}
#	LNK.{linkKey}%AUTH			{systemCode} {packageCode}
#	LNK.{linkKey}%COND			NOT_NULL|NOT_ZERO|EQUALS|CONTAINS {fieldKey} [{value1}[,{value2}[,...]]]
#	SFX.{suffixKey}				{suffixPattern}
#
########################################################################################################################


########################################################################################################################
#	includeResourceFile
########################################################################################################################
%includeResourceFile( mesg.RBMColumnResource )
%includeResourceFile( mesg.ECSColumnResource )
%includeResourceFile( mesg.PDSColumnResource )
%includeResourceFile( mesg.OSSColumnResource )
%includeResourceFile( mesg.CPFRColumnResource )
%includeResourceFile( mesg.CPFRKPIColumnResource )
