<html>
<head>
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
	<meta http-equiv=Content-Type content="text/html; charset=euc-kr">
	<style>
		table {
			font: 0.7em "tahoma","Arial";
			width: 680px;
			padding: 0;
			border-collapse: collapse;
			table-layout: fixed;
		}
		table td {
			text-overflow: ellipsis;
			overflow-x: hidden;
			white-space: nowrap;
		}

		table.ppo_info th {
			background: #D7ECFD;
			text-align: right;
			width: 130px;
			border-bottom: 1px solid #F6F6F6;
			padding-right: 5px;
			white-space: nowrap;
		}
		table.ppo_info td {
			height: 23px;
			border-bottom: 1px solid #F6F6F6;
			padding-right: 3px; padding-left: 3px;
		}
	</style>
</head>

<body style='text-align: center;'>
	<table class='ppo_info' style='background: #F6F6F6;'>
	<colgroup>
		<col style='width: 130px;'><col style=''>
		<col style='width: 130px;'><col style=''>
	</colgroup>
	<caption style='font: bold 1.2em; color: #006E6E; text-align: center; padding-bottom: 3px; border: 1px solid #F6F6F6;'>%MSG_TITLE%</caption>
	<tr>
		<th>%MSG_ID%</th>
		<td>%USER_ID%</td>
	</tr>
	<tr>
		<th>%MSG_PW%</th>
		<td>%NEW_PASSWORD%</td>
	</tr>
	</table>
</body>
</html>
