/*
 *	File Name:	board.css
 *	Version:	2.2.2c(dpr)
 *
 *	Description:
 *
 *	Note:
 *
 *	Modified	(YYYY/MM/DD)	Ver		Content
 *	hankalam	2017/02/28		2.2.2c	subjectLeft200 추가
 *										div.list_content_data_scroll 에 min-height 속성 추가
 *	GimHS		2012/12/31		2.2.2	CrossBrowsing 적용
 *	stghr12		2010/07/10		2.2.1c	애경 design 적용
 *	stghr12		2010/07/31		2.2.1	정리
 *	bvox		2009/10/23		2.2.0	create
*/


/***********************************************************************************************************************
	public
***********************************************************************************************************************/
.full_size {
	width: 100%;
}

body {
	background-image: url(../images/sysinfo_portal_bg.gif); background-repeat: repeat-x; background-position: -2px -71px;
//	width: 100%;
	margin: 2px 17px 10px 15px;
}

caption, div, pre, td {
	font-size: 13px; line-height: 15px; font-family: "dotum","gulim","arial"; color: #666666;
	word-break: break-all;
}
input, legend, select {
	font-size: 12px; font-family: "dotum","gulim","arial"; color: #333333;
	word-break: break-all;
}
pre {
	word-break: break-all; word-wrap: break-word;
}
textarea {
	font-size: 12px; font-family: "dotum","gulim","arial"; color: #333333;
	height: 61px;
}

div {
	scrollbar-face-color: #E8E8E8;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #E8E8E8;
	scrollbar-darkshadow-color: #BDBDBD;
	scrollbar-track-color: transparent !important;
	scrollbar-arrow-color: #31B5F7;
}

form {
	margin: 0;
}

img {
	border: 0;
}

select {
	font-size: 13px; font-family: "dotum","gulim","arial"; color: #333333;
	padding: 0;
}

table {
	border: 0;
}

th {
	background-color: #f7f7f7;
	font-size: 11px; font-family: "gulim","dotum","arial"; color: #666666;
	text-align: center;
	border-bottom: 0 solid #1CBCB4;
	padding-top: 2px; padding-right: 0px;
	padding-bottom: 0px; padding-left: 0px;
	margin-top: 2px; margin-right: 1px;
	margin-bottom: 0px; margin-left: 1px;
}

A:link		{ color: #5f5f5f; text-decoration: none; }
A:visited	{ color: #5f5f5f; text-decoration: none; }
A:active	{ color: #398DFF; text-decoration: none; }
A:hover		{ color: #398DFF; text-decoration: none; }


/***********************************************************************************************************************
	body
***********************************************************************************************************************/
body.frameNopadding {
//	width: 100%;
	margin-top: 0; margin-right: 18px;
	margin-bottom: 5px; margin-left: 5px
}

body.framePadding {
//	width: 100%;
	margin-top: 15px; margin-right: 20px;
	margin-bottom: 15px; margin-left: 20px
}


/***********************************************************************************************************************
	header부분(title/msg 등)
***********************************************************************************************************************/
table.msg {
	margin-top: 10px; margin-bottom: 0;
}

td.page_env {
	text-align: right; vertical-align: bottom;
	height: 26px;
	padding-top: 1px; padding-right: 5px;
}

table#content_title {
	border: 1px solid #B4B4B4;
	background-image: url(../images/board/title_bg.png); background-repeat: repeat-x;
	border-collapse: collapse;
}

td.title {
	font-size: 14px; font-weight: bold; color: #494949;
	vertical-align: 3px; height: 29px;
	float: left;
	padding-top: 9px; padding-left: 20px;
	padding-bottom: 9px;
}

td.page_env img {
	vertical-align: 4px;
}

td#msg {
	font-weight: bold; color: #F90000;
	height: 16px;
}

table.ics_table_boarder {
	width: 100%;
	border-color: #99CCFF;
	border-top: 0 solid #dad8d7; border-bottom: 1px solid #99CCFF;
	border-left: 1px solid #dad8d7; border-right: 1px solid #dad8d7;
}

.webkit_inline_box {
	display: -webkit-inline-box;
	vertical-align: text-top;
}


/***********************************************************************************************************************
	button
***********************************************************************************************************************/
img.tbtn, input.tbtn {
	vertical-align: middle;
	margin-bottom: -2px;
	cursor: pointer;
}

img.lbtn {
	vertical-align: bottom;
}

img.btn_list, img.btn_page, input.btn_list, input.btn_page {
	vertical-align: 0;
	cursor: pointer;
}

table.btn_page {
	width: 100%; height: 35px;
	margin-top: 5px;
	padding: 5px;
}


/***********************************************************************************************************************
	caption
***********************************************************************************************************************/
caption {
	font-weight: bold; font-size: 12px;
	text-align: left;
	padding-top: 1px; padding-right: 0;
	padding-bottom: 1px; padding-left: 20px;
}

caption A:link		{ color: #000000; text-decoration: none; }
caption A:visited	{ color: #000000; text-decoration: none; }
caption A:active	{ color: #000000; text-decoration: none; }
caption A:hover		{ color: #000000; text-decoration: none; }

span#caption_info {
	font-weight: normal; color: #333333;
}


/***********************************************************************************************************************
	linkmenu
***********************************************************************************************************************/
span.linkmenu {
	background-color: #FFFFFF;
	border-top: 1px solid #7C7C7C; border-bottom: 1px solid #7C7C7C;
	border-left: 1px solid #7C7C7C; border-right: 1px solid #7C7C7C;
	left: 10px; top: 10px;
	width: auto; height: 48px;
	position: absolute;
}

td.linkmenu_class {
	font-size: 12px; font-family: 'tahoma';
	text-align: center; vertical-align: top;
	width: 15px; height: 19px;
}

td.linkmenu_title {
	font-size: 12px; font-family: 'tahoma';
	text-align: left; vertical-align: middle;
	height: 19px;
	clear: left;
}

td.linkmenu_arrow {
	background-color: #FFFFFF;
	text-align: center; vertical-align: middle;
	width: 16px; height: 19px;
	padding-left: 18px;
	clear: left;
}


/***********************************************************************************************************************
	등록/수정/정보용
***********************************************************************************************************************/
.mandatory {
	font-weight: bold; color: #0E8F01;
}

.mandatory_u {
	font-weight: bold; color: #B50000;
}

span#content_info {
	font-weight: normal; color: #333333;
}

table.info_content {
	border-top: 4px solid #737373; border-bottom: 1px solid #ADADAD;
	border-left: 1px solid #ADADAD; border-right: 1px solid #ADADAD;
	width: 100%; background-color: #FFF;
	margin-top: 10px; margin-bottom: 10px;
	table-layout: fixed;
}

/** max image size to parent element width/height */
table.info_content img {
	max-height: 100%;
	max-width: 100%;
}

table.line_content {
	width: 100%; height: 25px;
}

td.subject0 {
	background-color: #E1F2FF;
	font-weight: bold;
	text-align: right; vertical-align: middle;
	border-bottom: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding-top: 2px; padding-right: 2px; padding-left: 2px;
}
td.subject {
	background-color: #F7F7F7;
	font-weight: bold;
	text-align: right; vertical-align: middle;
	border-bottom: 1px solid #737373;
	border-right: 0 solid #64B4B4;
	padding-top: 2px; padding-right: 2px; padding-left: 2px;
	width: 15%;
}

td.subjectLeft, td.subjectLeft200 {
	background-color: #fafafb;
	font-weight: bold;
	text-align: left; vertical-align: middle;
	border-bottom: 0 solid #737373;
	border-right: 0 solid #64B4B4;
	padding-top: 5px; padding-right: 20px; padding-left: 22px;
}

td.subjectLeft {
	width: 75px;
}

td.subjectLeft200 {
	width: 170px;
}

td.subjectTop {
	background-color: #fafafb;
	font-weight: bold;
	text-align: left;
	border-bottom: 0 solid #737373;
	border-right: 0 solid #64B4B4;
	padding-top: 0; padding-right: 20px; padding-left: 22px;
	width: 75px;
}

td.contentboard {
	background-color: #eef0f9;
	text-align: left; vertical-align: middle;
	border-bottom: 0 solid #737373;
	border-right: 0 solid #FFFFFF;
	padding-top: 8px; padding-right: 8px;
	padding-bottom: 8px; padding-left: 8px;
}

td.contentboard textarea {
	width: 100%;
	height: 250px;
}

td.contenttab {
	background-color: #fafafb;
	text-align: left; vertical-align: bottom;
	border-bottom: 0 solid #737373;
	border-right: 0 solid #FFFFFF;
	padding-top: 0; padding-right: 0;
	padding-bottom: 0; padding-left: 0;
	width: 100%;
}


td.content0, td.content1, td.content2, td.content3, td.content3_c, td.content3_2, td.content4, td.content4_2, td.content4_3,td.content5_2,td.content150 {
	background-color: #F7F7F7;
	text-align: left; vertical-align: bottom;
	border-bottom: 0 solid #737373;
	border-right: 0 solid #FFFFFF;
	padding-top: 5px; padding-right: 4px;
	padding-bottom: 0; padding-left: 4px;
}

td.contentall {
	width: *;
	background-color: #fafafb;
#	text-align: left;
	vertical-align: bottom;
	border-bottom: 0 solid #737373;
	border-right: 0 solid #FFFFFF;
	padding-top: 5px; padding-right: 4px;
	padding-bottom: 0; padding-left: 4px;
}

.right {
text-align: right;
margin-right: 1em;
}

.left {
text-align: left;
margin-left: 1em;
}


td.contenboardinfo {
	width: *;
	font-size: 13px; font-family: 'tahoma';
	font-weight: bold;
	background-color: #ffffff;
	text-align: left; vertical-align: bottom;
	border-bottom: 0 solid #737373;
	border-right: 0 solid #FFFFFF;
	padding-top: 5px; padding-right: 4px;
	padding-bottom: 5px; padding-left: 30px;
}

td.contenboardname {
	width: *;
	font-size: 13px; font-family: 'tahoma';
	background-color: #ffffff;
	border-bottom: 0 solid #737373;
	border-right: 0 solid #FFFFFF;
	padding-top: 5px; padding-right: 30px;
	padding-bottom: 5px; padding-left: 30px;
}


td.content1 {
	width: 85%;
}
td.content1_1 {
	width: 90%;
}
td.content2 {
	width: 35%;
}
td.content3 {
	width: 18%;
}
td.content3_c {
	width: 19%;
}
td.content3_2 {
	width: 51%;
}
td.content4 {
	width: 10%;
}
td.content4_2 {
	width: 35%;
}
td.content4_3 {
	width: 60%;
}

td.content5_1 {
	width: *;
	background-color: #fafafb;
	text-align: left; vertical-align: bottom;
	border-bottom: 0 solid #737373;
	border-right: 0 solid #FFFFFF;
	padding-top: 5px; padding-right: 4px;
	padding-bottom: 0; padding-left: 4px;
}
td.content5_2 {
	width: 10%;
	background-color: #fafafb;
	text-align: left; vertical-align: bottom;
	border-bottom: 0 solid #737373;
	border-right: 0 solid #FFFFFF;
	padding-top: 5px; padding-right: 4px;
	padding-bottom: 0; padding-left: 4px;
}

td.content150 {
	background-color: #fafafb;
	text-align: left; vertical-align: bottom;
	border-bottom: 0 solid #737373;
	border-right: 0 solid #FFFFFF;
	padding-top: 5px; padding-right: 4px;
	padding-bottom: 0; padding-left: 4px;
	width: 130px;
}

td.content200 {
	background-color: #fafafb;
	text-align: left; vertical-align: bottom;
	border-bottom: 0 solid #737373;
	border-right: 0 solid #FFFFFF;
	padding-top: 5px; padding-right: 4px;
	padding-bottom: 0; padding-left: 4px;
	width: 180px;
}

td.labels{
	font-size: 11px; font-family: "Tahoma";
	color: gray;
	vertical-align:middle;
}

td.comment {
	padding-top: 3px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
}

td.replycontent{
	padding-top: 2px;
	padding-bottom: 7px;
	padding-left: 57px;
	padding-right: 10px;
}

td.commentcontent{
	padding-top: 2px;
	padding-bottom: 7px;
	padding-left: 20px;
	padding-right: 10px;

}

/***********************************************************************************************************************
	정보용
***********************************************************************************************************************/
pre.textarea {
	border: 1px solid #D3E1EB;
	height: 61px;
	margin-bottom: 1px;
	overflow-y: auto;
}


/***********************************************************************************************************************
	입력용
***********************************************************************************************************************/
input {
	vertical-align: -3px;
	margin-top: 0; margin-bottom: 1px;
}

select {
	vertical-align: -3px;
	margin-bottom: 3px;
}

input.content_m, select.content_m, textarea.content_m {
	background-color: #FFFFDC;
}

input.content_omod, select.content_omod, textarea.content_omod, input.content_mmod, select.content_mmod, textarea.content_mmod {
	background-color: #B1D7F8;
}

input.content_mod, select.content_mod, input.content_mmod, select.content_mmod {
	border: 1px solid #8D8D8D;
}

input.readonly, select.readonly, textarea.readonly {
	background-color: #C1C1C1;
}

input.length_full, input.length_3, input.length_5, input.length_7
, input.length_10, input.length_15, input.length_20, input.length_25, input.length_30, input.length_35
, input.length_40, input.length_45, input.length_50, input.length_55, input.length_60, input.length_65
, input.length_70, input.length_80, input.length_100
, input.length_gln, input.length_gtin
, input.length_userid, input.length_username
, input.length_date_y, input.length_date_ym, input.length_date_ymd, input.length_date_ymdh, input.length_date_ymdhi
, input.length_date_h, input.length_date_hi {
	border: 1px solid #8D8D8D;
	height: 19px;
	padding-top: 2px; padding-bottom: 0; padding-left: 2px;
}

textarea.length_full, textarea.length_40, textarea.length_45, textarea.length_50, textarea.length_55, textarea.length_60, textarea.length_65
, textarea.length_70, textarea.length_80, textarea.length_100 {
	border: 1px solid #8D8D8D;
	margin-top: -1px; margin-right: 5px; margin-bottom: 0;
	padding-top: 2px; padding-bottom: 0; padding-left: 2px;
}

input.length_full {
	margin-right: 5px;
}
input.length_full, select.length_full, textarea.length_full {
	width: 100%;
}
input.length_3, select.length_3, input.length_date_h {
	width: 24px;
}
input.length_date_y {
	width: 30px;
}
input.length_5, select.length_5, input.length_date_hi {
	width: 36px;
}
input.length_7, select.length_7, input.length_date_ym {
	width: 48px;
}
input.length_10, select.length_10, input.length_userid, input.length_date_ymd {
	width: 66px;
}
input.length_15, select.length_15, input.length_gln, input.length_username {
	width: 96px;
}
input.length_date_ymdh {
	width: 84px;
}
input.length_date_ymdhi {
	width: 102px;
}
input.length_20, select.length_20, input.length_gtin {
	width: 126px;
}
input.length_25, select.length_25 {
	width: 156x;
}
input.length_30, select.length_30 {
	width: 186px;
}
input.length_35, select.length_35 {
	width: 216px;
}
input.length_40, select.length_40, textarea.length_40 {
	width: 246px;
}
input.length_45, select.length_45, textarea.length_45 {
	width: 276px;
}
input.length_50, select.length_50, textarea.length_50 {
	width: 306px;
}
input.length_55, select.length_55, textarea.length_55 {
	width: 336px;
}
input.length_60, select.length_60, textarea.length_60 {
	width: 366px;
}
input.length_65, select.length_65, textarea.length_65 {
	width: 396px;
}
input.length_70, select.length_70, textarea.length_70 {
	width: 426px;
}
input.length_80, select.length_80, textarea.length_80 {
	width: 466px;
}
input.length_100, select.length_100, textarea.length_100 {
	width: 606px;
}
select.length_s2 {
	width: 38px;
}
select.length_s4 {
	width: 50px;
}


/***********************************************************************************************************************
	리스트 조건용
***********************************************************************************************************************/
div.search_content {
	width: 100%;
}

table.search_content {
	width: 100%;
	background-color: #F7F7F7;
	border-top: 2px solid #b0b0b0; border-bottom: 1px solid #b0b0b0;
	border-left: 1px solid #b0b0b0; border-right: 1px solid #b0b0b0;
	padding-top: 5px; padding-left: 5px; padding-right: 15px; padding-bottom: 5px;
	margin-bottom: 15px;
}

table.search_line_content {
	height: 26px;
}

td.search_subject {
	font-weight: bold; color: #2399CA;
	text-align: right;
	padding-left: 10px;
	padding-right: 5px;
}

td.search_content {
	padding-right: 10px;
}

td.search_content input {
	margin-top: -1px; margin-bottom: 0;
}

td.search_button {
	text-align: right; vertical-align: bottom;
}

/***********************************************************************************************************************
	리스트용
***********************************************************************************************************************/
div.list_content {
	margin-top: 20px;
//	margin-right: -17px;
	margin-bottom: 10px;
}

div.list_content img {
	vertical-align:middle;
	margin-left: 3px;
}

div.list_content label {
	font-size: 11px; font-family: "Tahoma";
	color: gray;
	vertical-align:middle;
}

div.list_content_data_scroll {
	min-height: 27px;
}

div.list_content table {
	width: 100%;
}

span#index {
}

span#index_btn {
	max-width: 190px;
}

span#list_maxcount {
	font-weight: bold;
}

span#list_showcount {
}

span#page_index {
	font-weight: bold; color: #0000FF;
}

span#page_index_link {
	color: #999999;
}

table.list_content_top {
}

table.list_content_data {
	border-top: 0 solid; border-bottom: 0 solid;
	border-left: 0 solid #ADADAD; border-right: 0 solid #ADADAD;
	width : 100%;
	background-color: #FFF;
}

table.list_content_summary {
	border-top: 0 solid; border-bottom: 0 solid;
	border-left: 1px solid #ADADAD; border-right: 1px solid #ADADAD;
}

table.list_content_function {
	background-color: #ffffff;
	border-top: 0 solid; border-bottom: 0 solid #b0b0b0;
	border-left: 0 solid #b0b0b0; border-right: 0 solid #b0b0b0;
	padding-top: 4px; padding-left: 10px;
	padding-bottom: 2px;
}

table.list_content_bottom {
	margin-top: 10px;
}

tr.header_one {
	height: 25px;
	min-height: 25px;
	border-left: 1px solid #C1C1C1;
	padding-top: 1px; padding-bottom: 2px;
}

tr.list_content, tr.mouseover, tr.selected {
	height: 26px;
	padding-right: 2px; padding-left: 2px;
}

tr.mouseover {
	background-color: #F1F7FE;
}

tr.selected {
	background-color: #E9E9E9;
}

tr.list_sum {
	background-color: #E9E9E9;
	height: 25px;
	padding-top: 3px; padding-right: 2px; padding-left: 2px;
}

th.header_sort {
	cursor: pointer;
}

th.header_top {
	border-bottom: 1px solid #C1C1C1;
}

td.list_msg, td.list_linemsg {
	background-color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}
td.list_msg {
	height: 30px;
}

table.list_content_header {
	border-top: 2px solid #058DC6;
	border-left: 0 solid; border-right: 0 solid #C1C1C1;
	border-bottom: 1px solid #99CCFF;
	width : 100%;
	margin-top: 0;
}

table.list_content_header th {
	border-top: 0 solid;
	border-left: 0 solid; border-right: 0 solid #C1C1C1;
	border-bottom: 1px solid #058DC6;
}

table.list_content_header td, table.list_content_data td, table.list_content_summary td {
	border-top: 0 solid #FFFFFF; border-bottom: 0 solid #ffffff;
	border-left: 0 solid; border-right: 0 solid #ffffff;
}

table.list_content_header table td, table.list_content_data table td {
	border: 0 solid;
}

td.list_content_bottom {
}

td.underline {
	background-color: #DAD8D7;
}

td.separate {
	border-right: 1px solid #D4D4D4;
	border-left: 1px solid #D4D4D4;
	width: 5px;
}

td.check, td.radio {
	text-align: center;
	width: 20px;
}

td.number {
	text-align: center;
	width: 35px;
}


/***********************************************************************************************************************
	column
		_s : small
		_m : middle
***********************************************************************************************************************/
col.description {
	vertical-align: middle;

}

col.headword {
	text-align: center;
}

col.username {
	text-align: center;
	width: 80px;
}

col.check, col.radio {
	text-align: center;
	width: 20px;
}

col.number {
	text-align: center;
	width: 35px;
}

/* col.number { */
/* 	text-align: center; */
/* 	width: 35px; */
/* } */

/*******************************************************************************
	column: date
*******************************************************************************/
col.date, col.date_ymd {
	text-align: center;
	width: 85px;
}
col.date_ymdh {
	text-align: center;
	width: 96px;
}
col.date_ymdhi {
	text-align: center;
	width: 100px;
}
col.date_md {
	text-align: center;
	width: 40px;
}

/*******************************************************************************
	column: count, money, price, qty
*******************************************************************************/
col.count, col.percent, col.price, col.qty {
	text-align: center;
	width: 40px;
}
col.money_s {
	text-align: right;
	width: 75px;
}
col.money {
	text-align: right;
	width: 85px;
}
col.count_m, col.money_ss, col.price_m, col.qty_m {
	text-align: right;
	width: 60px;
}
col.count_s, col.percent_s, col.price_s, col.qty_s {
	text-align: right;
	width: 45px;
}
col.count_ss, col.percent_ss, col.price_ss, col.qty_ss {
	text-align: right;
	width: 40px;
}

/*******************************************************************************
	column: general
*******************************************************************************/
col.deliveryroute {
	text-align: center;
	width: 60px;
}
col.gln, col.gtin {
	text-align: center;
	width: 90px;
}
col.gln_s, col.gtin_s, col.tel {
	text-align: center;
	width: 80px;
}
col.status, col.status_4, col.std_code {
	text-align: center;
	width: 60px;
}
col.status_2 {
	text-align: center;
	width: 40px;
}
col.status_3 {
	text-align: center;
	width: 50px;
}
col.userid {
	width: 70px;
}
col.userid_s {
	width: 60px;
}
col.username {
	text-align: center;
	width: 80px;
}
col.username_m {
	text-align: center;
	width: 70px;
}
col.username_s {
	text-align: center;
	width: 60px;
}
